<nav class="navbar navbar-default navbar-fixed-top" ng-controller="LandingCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar"></button>
            <a class="navbar-brand" href="#">READIT</a> <!-- TODO add brand image -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#signUp" ng-click="signUp()">Sign up</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-default btn-simple">Sign in</button>
            </form>
        </div>
    </div>
</nav>

<div>
    <script type="text/ng-template" id="signUpTemplate.html">
        <div ng-controller="RegistrationCtrl">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="signUpModalLabel">User registration</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="registrationForm" ng-submit="signUp()" role="form" novalidate>
                    <div class="form-group" ng-class="{'has-error':(registrationForm.email.$error.required || registrationForm.email.$invalid)
                                                        && !registrationForm.email.$pristine}">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label" for="email">Email:</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" ng-model="user.email"
                                   placeholder="Your email" required>
                        <span ng-show="registrationForm.email.$error.required && !registrationForm.email.$pristine"
                              class="help-block">Your email is required</span>
                        <span ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine"
                              class="help-block">Please enter a valid email address</span>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':registrationForm.username.$error.required && !registrationForm.username.$pristine}">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label" for="username">Username:</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <input type="text" class="form-control" id="username" name="username"
                                   ng-model="user.username" placeholder="Your username" required>
                        <span ng-show="registrationForm.username.$error.required && !registrationForm.username.$pristine"
                              class="help-block">Your username is required</span>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':registrationForm.password.$error.required && !registrationForm.password.$pristine}">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label" for="password">Password:</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <input type="password" class="form-control" id="password" name="password"
                                   ng-model="user.password" placeholder="Your password" required>
                        <span ng-show="registrationForm.password.$error.required && !registrationForm.password.$pristine"
                              class="help-block">Your password is required</span>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error':registrationForm.repPassword.$error.required && !registrationForm.repPassword.$pristine}">
                        <div class="col-xs-12 col-sm-2">
                            <label class="control-label" for="repPassword">Repeat password:</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                            <input type="password" class="form-control" id="repPassword" name="repPassword"
                                   ng-model="user.repPassword" placeholder="Please repeat your password" required>
                        <span ng-show="registrationForm.repPassword.$error.required && !registrationForm.repPassword.$pristine"
                              class="help-block">Please reenter your password</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-1">
                            <button type="button" class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-default" ng-disabled="registrationForm.$invalid">Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Read It!</h1>

        <p>This is the newest simplest RSS reader.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4 landing-paragraph">
            <h2>Simple!</h2>

            <p>It's not overloaded with the content, it just shows only the newest titles for selected RSS feeds.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4 landing-paragraph">
            <h2>Always up to date!</h2>

            <p>Because it's web based, the feeds are always up to date.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4 landing-paragraph">
            <h2>It's free!</h2>

            <p>It costs for you only 0.00 (place your currency). And it always be that way!</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
    </div>

</div>
