.feed-button {
    margin: 10px 0 10px 0;
    border-radius: 0;
    background-color: darkorange;
}

.feed-button:hover {
    background-color: #ff681b;
}

body {
    background-color: bisque;
    padding-top: 70px;
}

.navbar {
    background-color: orange;
}

.navbar-default .navbar-nav>li>a {
    color: inherit;
}

.btn-default {
    background-color: darkorange;
}

.btn-cancel {
    background-color: cornsilk;
}

.search-controls {
    background-color: antiquewhite;

}

.row-footer {
    background-color: orange;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.modal-content {
    background-color: bisque;
}

.modal-header {
    background-color: orange;
}

#feedUrl {
    background-color: beige;
}

#selectFeed {
    background-color: beige;
}

.open {
    background-color: darkorange;
}

.navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: orange;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff681b;  // Changes color of main button that is currently active.
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #ff681b;  //  Changes color of main menu button once clicked.
}

.navbar-default .navbar-nav .open .dropdown-menu> li> a:hover {
    background-color: #ff681b;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #ff681b;
}

.errorMessage {
    color: brown;
}

.jumbotron {
    background-color: darkorange;
}




